.flexbox-grid-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

body {
  --padding: 5vw;
  --max-width: 180ch;
  background-image: url("/public/assets/register/register_bgi.png");
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(26, 26, 26, 0.6);
  background-repeat: no-repeat;
  background-size: cover;
}

.register_container {
  color: white;
  margin-top: 5vh;
  font-size: 1.5vw;
}
.intro_body_container {
  display: flex;
  flex-direction: row;
}

.course_selection_label {
  margin-top: 3vh;
  text-align: center;
  font-size: 1.7vh;
}
.course_description_body {
  padding-inline: 5vw;
  margin-top: 2vh;
  font-size: 2vw;
  /* font-family: "Montserrat", sans-serif; */
}
.course_description_heading {
  padding-inline: 5vw;
  margin-top: 4vh;
  text-align: left;
  font-size: 3.5vw;
  font-family: "Montserrat", sans-serif;
}

.clock_cal_style {
  width: 10%;
  margin-top: 10vh;
  margin-left: 20%;
}

.service_list {
  margin: 2vh 0px;
  font-size: 2vh;
  color: rgb(255, 255, 255);
}

.service_list_item {
  width: 40vw;
  padding: 1.6vw 1.5vh;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.selected_item {
  background-color: rgb(9, 163, 19);
}
.service_list_item:hover {
  background-color: rgb(9, 163, 19);
}

.registration_form {
  display: flex;
  width: 100vmin;
  justify-content: center;
}

.select_qualifications {
  width: 100%;
  justify-content: space-around;
  color: white;
}

.select_qualifications_item {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 1vh 2vh;
  font-size: 1.5vh;
}

.select_qualifications_item:hover {
  background-color: rgb(9, 163, 19);
}

.phone-number-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 30px;
}

@media screen and (max-width: 480px) {
  .intro_body_container {
    flex-direction: column;
  }
  .course_description_heading {
    text-align: center;
    margin-top: 2vh;
    font-size: 4vw;
    font-family: "Montserra bold", sans-serif;
  }
  .course_description_body {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1024px) {
  .intro_body_container {
    flex-direction: column;
  }
}
