:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}

@media only screen and (max-width: 800px) {
  .btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }
}

@media only screen and (max-width: 1024px) {
  .btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }
}

@media only screen and (max-width: 300px) {
  .btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 0px 5px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }

  .btn--medium {
    padding: 0px 5px;
    font-size: 12px;
  }

  .btn--large {
    padding: 5px 8px;
    font-size: 13px;
  }
}
