@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");

.container {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 1.5rem;
  line-height: 45px;
  margin: 40px 40px;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}

.aboutus_background {
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.ourmission_background {
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}

.ourvision_background {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

@media only screen and (max-width: 800px) {
  .content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 1rem;
    line-height: 25px;
    margin: 20px 20px;
    align-items: center;
    font-family: "Noto Sans KR", sans-serif;
  }
}
