.cards_background_for_services {
  background-image: url("/public/assets/services/services_img.png");
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  font-size: 40px;
  color: #fff;
}

h1 {
  text-align: center;
}

.cards__container {
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
  opacity: 0;
}

.cards__item__block {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 57%;
  border: 5px solid #fff;
  border-radius: 10px;

  background: rgba(110, 110, 110, 0.2); /* Semi-transparent white */
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card_text {
  width: 100%;
  position: absolute;
  top: 15%;
  text-align: center;
  font-size: 60px;
}

.card_abbr_line {
  flex: 1;
  height: 16px;
  background-color: #ffffff;
}

.card_text_abbr {
  width: 100%;
  position: absolute;
  top: 25%;
  text-align: center;
  font-size: 40px;
}

.card_sub_text_container {
  width: 100%;
  position: absolute;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  top: 40%;
  font-size: 28px;
  text-align: center;
  line-height: 3cap;
  padding: 0px 20px;
}

.card_sub_text {
  margin-bottom: 5px;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.9);
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.register-btns {
  margin-top: 20px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }

  .cards_background_for_services {
    padding: 4rem;
    font-size: 30px;
  }

  .card_sub_text {
    font-size: 13px;
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .cards_background_for_services {
    padding: 1rem;
    font-size: 20px;
  }
  .card_sub_text {
    display: none;
  }

  .register-btns {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 300px) {
  .cards_background_for_services {
    padding: 0rem;
    font-size: 15px;
  }
  .card_sub_text {
    display: none;
  }

  .register-btns {
    margin-top: 5px;
  }
}

.fade-in {
  opacity: 1;
  transition: all 1s ease-in-out;
}
