.cards_background_for_faq {
  height: auto;
  padding: 6rem;
  background-color: #00527f;
  background-image: linear-gradient(180deg, #1a3d6b 0%, #000000 100%);
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cit;
  color: #ffffff;
  font-size: 40px;
}

.faq_cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}

.faq_cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.faq_cards__item {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.faq_card__item {
  margin-bottom: 10px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: 10px;
  border-width: 5px;
  border-color: #8d8d8d;
  border-style: groove;
  color: #bdbdbd;
  overflow-y: scroll;
}

#faq_answer {
  display: block;
  font-size: 25px;
  color: #ffffff;
}

.faq_question {
  font-size: 18px;
}

@media only screen and (min-width: 1024px) {
  .faq_cards__item {
    display: flex;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .cards_background_for_faq {
    padding: 3rem;
    font-size: 30px;
    transition: all 0.5 ease-in-out;
  }
  .faq_card__item {
    width: 60vh;
    font-size: 13px;
  }

  .faq_question {
    font-size: 18px;
  }
  #faq_answer {
    display: block;
    font-size: 22px;
    color: #ffffff;
  }
}

@media only screen and (min-width: 400px) and (max-width: 767px) {
  .cards_background_for_faq {
    padding: 1rem;
    font-size: 20px;
    transition: all 0.5 ease-in-out;
  }

  .faq_card__item {
    width: 40vh;
    font-size: 13px;
  }

  .faq_question {
    font-size: 15px;
  }
  #faq_answer {
    display: block;
    font-size: 18px;
    color: #ffffff;
  }
}

@media only screen and (max-width: 399px) {
  .cards_background_for_faq {
    height: auto;
    font-size: 15px;
    padding: 1rem;
    transition: all 0.5 ease-in-out;
  }

  .faq_cards__container {
    margin: -5px auto;
  }

  .faq_card__item {
    width: 100%;
    font-size: 10px;
  }

  .faq_question {
    font-size: 15px;
  }
  #faq_answer {
    display: block;
    font-size: 14px;
    color: #ffffff;
  }
}
