.cards_background_for_faq {
    height: auto;
    padding: 2rem;
    background-image: url('/public/assets/home/students_2.png');
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-size: 40px;
  }

  .faq_cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }

.faq_cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
}

.faq_cards__item {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

.faq_card__item {
  width: 100vh;
  margin-bottom: 10px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: 10px;
  border-width: 5px;
  border-color: #8d8d8d;
  border-style: groove;
  justify-content: center;
  color: #ffffff;
  overflow-y: scroll;
}

#faq_answer {
  display: block;
  font-size: 25px;
  color: rgb(9, 213, 9);
}

.faq_question {
  font-size: 18px;
  line-height: 24px;
}

  @media only screen and (min-width: 1024px) {
    .faq_cards__item {
      display: flex;
    }
  }

  @media only screen and (max-width: 1024px) {
    .faq_card__item {
      width: 70vh;
    }
  }

  @media only screen and (max-width: 800px) {

    .cards_background_for_faq {
      padding: 1rem;
      font-size: 20px;
      transition: all 0.5 ease-in-out;
    }

    .faq_card__item {
      width: 40vh;
      font-size: 13px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .cards_background_for_faq {
      height: auto;
      font-size: 15px;
      padding: 1rem;
      transition: all 0.5 ease-in-out;
    }

    .faq_cards__container {
      margin: -5px auto;
    }
  }