.faq-section {
    display:grid;
    flex-direction: column;
    height: 100vh;
    align-items:center;
    justify-content: center;
  }

.faq-section {
    background-image: url('/public/assets/faq_section/colorful_question.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 500px rgba(87, 86, 86, 0.6);
    color: #fff;
    font-size: 70px;
    margin-bottom: 20px;
}

.faq__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }

.faq__items {
    margin-bottom: 24px;
  }

.faq-cards {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}

faq-section > h1 {
    margin-bottom: 60px;
}

@media only screen and (min-width: 1024px) {
    .faq__items {
      display: flex;
    }
  }