.tabBar__container {
    width: auto;
    height: auto;
    padding-top: 20px;
    margin-inline: 30px;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.text_color__active {
    color:#fff;
    transition: all 0.5s ease-in-out;
}

.text_color__inactive {
    color:#b4b4b4;
    transition: all 0.5s ease-in-out;
}