.connect {
    display: flex;
    flex-direction: column;
    height: 60vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

.connect {
    background-image: url('/public/assets/services/img-6.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 100px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }

  .whatsapp-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: scale(1.7);
  }

  .connect > h1 {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;
  }

  .subText{
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .facebook:hover{
    color: #089dfb;
    transform: scale(1.5);
  }

  .instagram:hover{
    color: #ff61ad;
    transform: scale(1.5);
  }

  .youtube:hover{
    color: #ff0000;
    transform: scale(1.5);
  }

<<<<<<< Updated upstream
  .twitter:hover{
    color: #0061bc;
    transform: scale(1.5);
  }
=======
.connect > h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  transition:500ms;
  font-size: 40px;
}
>>>>>>> Stashed changes

  .linkedIn:hover{
    color: #39b9fa;
    transform: scale(1.5);
  }

<<<<<<< Updated upstream
  .whatsapp:hover{
    color: #03ff2d;
    transform: scale(1.5);
  }
=======
.instagram:hover{
  color: #ff61ad;
  transform: scale(1.5);
  transition:500ms;
}

.youtube:hover{
  color: #ff0000;
  transform: scale(1.5);
  transition:500ms;
}

.twitter:hover{
  color: #0061bc;
  transform: scale(1.5);
  transition:500ms;
}

.linkedIn:hover{
  color: #39b9fa;
  transform: scale(1.5);
  transition:500ms;
}

.whatsapp:hover{
  color: #03ff2d;
  transform: scale(1.4);
  transition:500ms;
}

@media only screen and (max-width: 800px) {
  .connect > h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    transition:500ms;
    font-size: 40px;
  }
  .connect > h3 {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    transition:500ms;
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .whatsapp-icon , h2 {
    font-size: 20px;
  }
}
>>>>>>> Stashed changes
