.hero-container {
  position: relative;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -150px;
  margin-bottom: 20px;
}

.hero-container > h4 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 200px;
}

.banner-class {
  width: 100%;
  height: 20vh;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 22px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media only screen and (max-width: 480px) {
  .hero-container {
    background-position: center;
  }
}

@media screen and (max-width: 960px) {
  .hero-container {
    background-position-x: center;
  }
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container {
    background-position-x: center;
  }
  .hero-container > h1 {
    font-size: 40px;
    margin-top: -100px;
    margin-bottom: 50px;
  }

  .hero-container > p {
    font-size: 20px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .hero-container {
    background-position-x: center;
  }
  .hero-container > h1 {
    font-size: 30px;
    margin-top: -60px;
    margin-bottom: 100px;
  }

  .hero-container > p {
    font-size: 15px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}

.slideshow-container {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
}

.slides {
  width: 100%;
  display: flex; /* Align slides horizontally */
  transition: transform 0.5s ease; /* Smooth transition */
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

.slide.active {
  display: block; /* Show the active slide */
}

.prev,
.next {
  background-color: #141414;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0; /* Position next arrow to the right */
  border-radius: 3px 0 0 3px; /* Rounded corners */
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Dark background on hover */
}

.indicator-container {
  text-align: center; /* Center the indicators */
  margin-top: 50vw;
}

.indicator {
  display: inline-block; /* Inline blocks for indicators */
  width: 15px; /* Indicator size */
  height: 15px; /* Indicator size */
  margin: 0 5px; /* Space between indicators */
  background-color: #5c5c5c; /* Gray color */
  border-radius: 50%; /* Circular indicators */
  cursor: pointer; /* Pointer cursor */
}

.indicator.active {
  background-color: #717171; /* Active indicator color */
}
