.partners-title {
  color: white;
  padding-top: 3vh;
}

.logo-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5vw;
  flex-wrap: wrap;
}

.logo {
  flex-basis: calc(15% - 10px);
  width: 10%;
  height: 10%;
}

.logo > p {
  font-size: 20px;
}

.fade-in {
  opacity: 1;
  transition: all 1s ease-in-out;
}
